@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --color-primary: 60 31% 94%;
    --color-secondary: 300 1% 58%;
    --color-background: 300 5% 4%;
  }
}
