---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Page from "../layouts/Page.astro";
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="m-auto max-w-[1280px] p-6">
    <section id="intro">
      <h1 class="font-sans text-6xl font-bold text-secondary mb-6">
        Raman Verma
      </h1>
      <h2 class="font-sans text-4xl font-bold">
        Software Developer<br />
         Creating Interoperable<br />
         Platform Solutions
      </h2>
    </section>
    <!-- <section id="work" class="mt-24">
      <h3 class="font-sans text-6xl font-bold">Work</h3>
    </section>
    <section id="blog" class="mt-24">
      <h4 class="font-sans text-6xl font-bold">Article</h4>
    </section> -->
  </main>
</Page>
