---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="box-row-sb p-1rem">
    <a href="/">raman verma</a>
    <div>
      <HeaderLink href="works" content="works" />
      <HeaderLink href="blogs" content="blogs" />
    </div>
  </nav>
</header>

<style>
  nav {
    width: inherit;
    background: rgb(var(--bento-nav-color));

    border-radius: 20px;

    margin-bottom: 1rem;

    font-weight: bold;
  }

  .box-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>
