---
import HeaderLink from "./HeaderLink.astro";
---

<header class="bg-primary text-secondary">
  <div
    class="flex flex-row justify-between items-center max-w-[1280px] m-auto p-4"
  >
    <HeaderLink href="#asrasrs" body="heyey" />
    <nav>
      <HeaderLink href="#work" body="Work" />
      <HeaderLink href="#blog" body="Blog" />
      <HeaderLink href="#contact" body="Contact" />
      <HeaderLink href="#about" body="About" />
    </nav>
  </div>
</header>
